@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: 'Inter', sans-serif;
  src: url(/src/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
body {
  font-family: 'Inter', sans-serif;
}
.container {
  min-width: 320px;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
