<header>
  <div class="container">
    <nav>
      <li><a href="./index.html">Home</a></li>
      <li><a href="./favorites.html">Favorites</a></li>
    </nav>
    <a href="./index.html" class="logo">
      <span class="first-part-logo">tasty</span>treats.
    </a>
    <button class="btn-basket" type="button">
      <a href="tel:+380730000000" class="header-basket">
        <svg class="icon-basket" width="24" height="24">
          <use href="/src/images/svg-sprite.svg#icon-basket-1"></use>
        </svg>
      </a>
    </button>

    <button
      type="button"
      class="burger-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu-open-icon" width="32" height="32">
        <use href="/src/images/svg-sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
