<!-- mobile menu -->
<div class="menu js-menu-container" id="mobile-menu">
  <button class="menu__close js-close-menu">
    <svg class="menu__icon" width="32" height="32">
      <use href="/src/images/svg-sprite.svg#icon-x"></use>
    </svg>
  </button>

  <nav class="menu__nav">
    <ul class="menu__nav-list list">
      <li class="menu__nav-item">
        <a href="/src/index.html" class="menu__nav-link js-close-menu link"
          >Home</a
        >
      </li>
      <li class="menu__nav-item">
        <a href="/src/favorites.html" class="menu__nav-link js-close-menu link"
          >Favorites</a
        >
      </li>
    </ul>
  </nav>
</div>
