/* :root {
    --main-cl: #050505;
    --back-cl: #f8f8f8;
    --lt-green: #9bb537;
    --inactive-el-cl: rgba(5, 5, 5, 0.5);
    --inactive-list-cl: rgba(5, 5, 5, 0.3);
    --border-cl: rgba(5, 5, 5, 0.2);
    --star-cl: #eea10c;
    --trans-hv: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */

.invisibles {
  display: none;
}

.scrollable-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 270px;
  padding-right: 0px;
}

@media screen and (min-width: 768px) {
  .scrollable-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 435px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .scrollable-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 435px;
    padding-right: 0px;
  }
}

.dishes {
  display: block;
  border: none;
  background-color: transparent;
  color: rgba(5, 5, 5, 0.3);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dishes:hover {
  color: var(--lt-green);
}
.dishes-active {
  color: var(--lt-green);
}

.all-categories {
  display: block;
  width: 272px;
  margin-top: 30px;
  margin-bottom: 64px;
  /* margin-left: 20px;
  margin-right: 20px; */
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .all-categories {
    width: 82px;
    /* margin-left: 32px;
    margin-right: 32px; */
    padding-left: 0px;
    /* padding-right: 58px; */
  }
}

@media screen and (min-width: 1280px) {
  .all-categories {
    width: 416px;
    /* margin-left: 100px; */
    /* margin-right: 32px; */
    padding-left: 0px;
    /* padding-right: 117px; */
  }
}

/* - */

.all-ctg-btn {
  width: 176px;
  padding: 14px 29px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  font-size: 18px;
  font-weight: 500;
  color: rgba(5, 5, 5, 0.5);
  background-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-ctg-btn-active,
.all-ctg-btn:hover {
  background-color: var(--lt-green);
  color: var(--back-cl);
  border: 1px solid var(--lt-green);
}

/* - */

.all-categories-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 30px;
  width: 235px;
  /* padding-right: 150px; */
}

@media screen and (min-width: 768px) {
  .all-categories-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .all-categories-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 30px;
  }
}
