.dark-theme .link-favorites {
  color: var(--white);
}

.dark-theme .header-link:hover,
.dark-theme .header-link:focus {
  color: var(--lt-green);
}
.dark-theme {
  background-color: var(--dark-theme-bgc);
  color: var(--white);
}
.dark-theme .logo {
  color: var(--white);
}
.dark-theme .burger-btn {
  stroke: var(--white);
}
.dark-theme .icon-basket {
  fill: var(--dark-theme-bgc);
  stroke: var(--white);
}
.dark-theme .menu {
  background-color: var(--main-cl);
}
.dark-theme .menu__nav-item-home {
  color: var(--lt-green);
}
.dark-theme .rectangle-icon {
  fill: var(--lt-green);
}

.dark-theme .dishes {
  color: #ffffff4d;
}
.dark-theme .dishes:hover {
  color: var(--lt-green);
}
.dark-theme .modal {
  background-color: var(--main-cl);
}
.dark-theme .all-ctg-btn,
.dark-theme .search-input::placeholder,
.dark-theme .paragraph-search,
.dark-theme .navigation-list-favorites,
.dark-theme .ingredient-measure,
.dark-theme .modal-form-field-desc,
.dark-theme #rating,
.dark-theme #time {
  color: #ffffff80;
}

.dark-theme .all-ctg-btn:hover,
.dark-theme .all-ctg-btn:focus {
  color: var(--back-cl);
}
.dark-theme .all-ctg-btn,
.dark-theme .search-input {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-theme .tags-name {
  color: var(--white);
  border-color: rgba(255, 255, 255, 0.2);
}
.dark-theme .instructions {
  color: rgba(255, 255, 255, 0.8);
}
.dark-theme .ingredient-name,
.dark-theme .rating-btn,
.dark-theme .no-favorites-desc,
.dark-theme .modal-form-title {
  color: var(--white);
}

.dark-theme .order-modal {
  background-color: var(--main-cl);
}

.dark-theme .modal-form-input,
.dark-theme .modal-form-comment {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--main-cl);
}
.dark-theme .modal-form-submit-btn {
  background-color: var(--lt-green);
  color: var(--white);
}
.dark-theme .hero-btn {
  background-color: var(--dark-theme-bgc);
  border-color: #9bb537;
  color: var(--white);
}

.dark-theme .slick-dots li button:before {
  color: var(--white);
}
.dark-theme .slick-dots li button:focus:before {
  color: var(--lt-green);
}

.dark-theme .paragraph-title {
  color: #ffffffcc;
}

.dark-theme .current-page,
.dark-theme .mid-skip,
.dark-theme .next-page,
.dark-theme .last-option-page {
  background-color: var(--dark-theme-bgc);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--white);
}

.dark-theme .side-btn:enabled {
  background-color: var(--lt-green);
}
.dark-theme .lil-left-skip:hover {
  background-color: var(--main-cl);
  color: #f8f8f880;
}
.dark-theme .pagination-btn:hover {
  background-color: var(--main-cl);
  color: #f8f8f880;
}

.dark-theme .current-page {
  background-color: var(--lt-green);
}

.dark-theme .lil-rigth-skip,
.dark-theme .big-rigth-skip {
  background-color: var(--lt-green);
  color: var(--main-cl);
}
.dark-theme .order-modal-close-icon {
  fill: var(--white);
}
.dark-theme .search-input {
  background-color: var(--dark-theme-bgc);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--white);
}
.dark-theme .svg-input {
  stroke: #ffffff80;
}
.dark-theme .hero-btn:hover,
.dark-theme .hero-btn:focus {
  background-color: var(--lt-green);
  color: var(--back-cl);
}

.dark-theme .search-input:hover + .svg-input {
  stroke: var(--lt-green);
}
.dark-theme .masterclass,
.dark-theme .cook-hero-div {
  border: 1px solid var(--main-cl);
}
