.favorites-hero-icon {
  width: 68px;
  height: 58px;
}

.no-favorites {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 480px;
}

.no-favorites-desc {
  color: #050505;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
}

.category-btn {
  color: rgba(5, 5, 5, 0.3);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  max-height: 46px;
  min-width: 132px;
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.category-btn:hover,
.category-btn:focus {
  color: #f8f8f8;
  background: #9bb537;
  border: none;
}

.card_favorites {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  height: 335px;
  overflow: hidden;
  border-radius: 8px;
  background: linear-gradient(
    1deg,
    rgba(5, 5, 5, 0.6) 0%,
    rgba(5, 5, 5, 0) 100%
  );
}
@media screen and (max-width: 767px) {
  .no-favorites {
    padding-top: 285px;
  }
  .card_favorites {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .favorites-hero-icon {
    width: 97px;
    height: 83px;
  }
  .no-favorites {
    gap: 32px;
    width: 481px;
  }
  .no-favorites-desc {
    font-size: 16px;
    line-height: 1.5;
    max-width: 481px;
  }
  .categories {
    margin-bottom: 32px;
  }

  .category-btn {
    font-size: 16px;
    line-height: 1.25;
    max-height: 48px;
    min-width: 145px;
  }
  .card_favorites {
    height: 264px;
    width: 224px;
  }
}
