.navigation {
  display: none;
}
.btn-range.header-range {
  display: none;
}

.logo {
  color: var(--main-cl);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: calc(18 / 16);
  letter-spacing: -0.64px;
}
.first-part-logo {
  color: var(--lt-green);
}
.btn-basket {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.icon-basket {
  width: 100%;
  height: 100%;
  fill: #ffffff;
  stroke: #050505;
}
.burger-btn {
  width: 32px;
  height: 32px;
  stroke: var(--main-cl);
  border: none;
  background-color: transparent;
  padding: 0;
}
.mobile-menu-open-icon {
  width: 100%;
  height: 100%;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 44px;
}
.heder-icons-wrap {
  display: flex;
  align-items: center;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
  .btn-range.header-range {
    display: block;
  }

  .burger-btn {
    display: none;
  }

  .header-box {
    padding-top: 28px;
    padding-bottom: 44px;
  }
  .navigation-list {
    display: flex;
    gap: 16px;
  }

  .navigation-list-home {
    color: var(--lt-green);
    font-size: 12px;
    font-weight: 500;
  }
  .navigation-list-favorites {
    color: var(--main-cl);
    font-size: 12px;
  }

  .logo {
    font-size: 18px;
    line-height: calc(20 / 18);
    letter-spacing: -0.72px;
  }
}
@media screen and (min-width: 1280px) {
  .header-box {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
