.render-population {
  display: flex;
  flex-direction: column;
}
.cards-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;

  flex-wrap: wrap;
  max-width: 335px;
  row-gap: 24px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cards-list {
    max-width: 496px;
    gap: 16px;
  }
  .left-side {
    display: flex;
    flex-direction: column;
    width: 176px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .cards-list {
    max-width: 782px;
    row-gap: 32px;
    column-gap: 15px;
    margin-bottom: 64px;
  }
  .left-side {
    width: 235px;
    margin-right: 64px;
  }
}

.card {
  color: #f8f8f8;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 335px;
  width: 335px;
}
.card-info {
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.heart-svg {
  display: flex;
  margin-left: auto;
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.heart-svg-fav {
  fill: white;
}

.rating-and-btn {
  display: flex;
  justify-content: space-between;
}
.stars-icons {
  display: flex;
}

.see-recipe-btn {
  background-color: var(--lt-green);
  border: 1px solid #9bb537;
  border-radius: 8px;
  color: var(--back-cl);
  padding: 8px 14px;
  font-weight: 500;
  font-size: 12px;
  transition: var(--trans-hv);
}
.see-recipe-btn:hover {
  background-color: #1e1e1e;
}

.rating-section {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card-title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}

.card-text {
  margin-bottom: 16px;
  height: 32px;
  overflow: hidden;
  color: #f8f8f8;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-size: 12px;
  line-height: 16px;
}

.xzxzxz {
}

.star-svg {
  fill: #f8f8f8;
  fill-opacity: 0.1;
}
.gold-star {
  fill: rgba(238, 161, 12, 1);
  fill-opacity: 1;
}

@media screen and (min-width: 768px) {
  .card {
    width: 240px;
    height: 264px;
  }

  .card-info {
    height: 264px;
  }
}

@media screen and (min-width: 1280px) {
  .cards-list {
    row-gap: 32px;
  }

  .card {
    width: 250px;
    height: 287px;
  }
  .card-info {
    height: 287px;
  }
}
