<section>
  <div class="container">
    <div class="no-favorites">
      <img
        class="favorites-hero-icon"
        src="./images/favorites-hero/favorites-icons/favorites-icon.svg"
        alt="Chef's hat icon"
      />
      <p class="no-favorites-desc">
        It appears that you haven't added any recipes to your favorites yet. To
        get started, you can add recipes that you like to your favorites for
        easier access in the future.
      </p>
    </div>
    <div class="categories">
      <ul class="categories-list"></ul>
    </div>
    <!-- <ul class="favorites-cards"></ul> -->
  </div>
</section>
