<section>
  <div class="container">
    <div class="no-favorites">
      <img
        class="favorites-hero-icon"
        src="./images/favorites-hero/favorites-icons/favorites-icon.svg"
        alt="Chef's hat icon"
      />
      <p class="no-favorites-desc">
        It appears that you haven't added any recipes to your favorites yet. To
        get started, you can add recipes that you like to your favorites for
        easier access in the future.
      </p>
    </div>
    <div class="categories">
      <ul class="categories-list">
        <button type="button" class="btn-all-categories invisible">
          All categories
        </button>
      </ul>
    </div>
    <div class="recipes">
      <ul class="cards-list cards-list-favorit"></ul>
    </div>
    <div class="pagination">
      <div class="left-btns">
        <button
          type="button"
          class="big-left-skip pagination-btn side-btn"
          data-skip="big"
        >
          <<
        </button>
        <button
          type="button"
          class="lil-left-skip pagination-btn side-btn"
          data-skip="lil"
        >
          <
        </button>
      </div>
      <div class="mid-btns">
        <button type="button" class="current-page pagination-btn mid-btn">
          1
        </button>
        <button type="button" class="next-page pagination-btn mid-btn">
          2
        </button>
        <button type="button" class="last-option-page pagination-btn mid-btn">
          3
        </button>
        <button type="button" class="mid-skip pagination-btn mid-btn">
          ...
        </button>
      </div>
      <div class="right-btns">
        <button
          type="button"
          class="lil-rigth-skip pagination-btn side-btn"
          data-skip="lil"
        >
          >
        </button>
        <button
          type="button"
          class="big-rigth-skip pagination-btn side-btn"
          data-skip="big"
        >
          >>
        </button>
      </div>
    </div>
    <!-- <ul class="favorites-cards"></ul> -->
  </div>
</section>
