<section class="favorites-hero-section">
  <div class="container favorites-hero">
    <h1 class="visually-hidden">Favorites</h1>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/favorites-hero/favorites_hero_desk@1x.webp 1x,
          ./images/favorites-hero/favorites_hero_desk@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/favorites-hero/favorites_hero_desk@1x.jpg 1x,
          ./images/favorites-hero/favorites_hero_desk@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/favorites-hero/favorites_hero_tab@1x.webp 1x,
          ./images/favorites-hero/favorites_hero_tab@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/favorites-hero/favorites_hero_tab@1x.jpg 1x,
          ./images/favorites-hero/favorites_hero_tab@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/favorites-hero/favorites_hero_mob@1x.webp 1x,
          ./images/favorites-hero/favorites_hero_mob@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/favorites-hero/favorites_hero_mob@1x.jpg 1x,
          ./images/favorites-hero/favorites_hero_mob@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <img
        class=".favorites-hero-img"
        src="./images/favorites-hero/favorites_hero_mob@1x.jpg"
        alt="Fried fillet"
        loading="lazy"
      />
    </picture>
  </div>
</section>
