<section>
  <div class="container all-categories" id="all-categories">
    <button class="all-ctg-btn" id="all-ctg-btn">All categories</button>
    <ul class="all-categories-list scrollable-content">
      <button>Beef</button>
      <button>Breakfast</button>
      <button>Chicken</button>
      <button>Dessert</button>
      <button>Goat</button>
      <button>Lamb</button>
      <button>Miscellaneous</button>
      <button>Pasta</button>
      <button>Pork</button>
      <button>Seafood</button>
      <button>Side</button>
      <button>Starter</button>
      <button>Vegan</button>
      <button>Vegetarian</button>
    </ul>
  </div>
</section>
