<section>
  <div class="container all-categories" id="all-categories">
    <button class="all-ctg-btn" id="all-ctg-btn">All categories</button>
    <ul class="all-categories-list scrollable-content">
      <button class="dishes">Beef</button>
      <button class="dishes">Breakfast</button>
      <button class="dishes">Chicken</button>
      <button class="dishes">Dessert</button>
      <button class="dishes">Goat</button>
      <button class="dishes">Lamb</button>
      <button class="dishes">Miscellaneous</button>
      <button class="dishes">Pasta</button>
      <button class="dishes">Pork</button>
      <button class="dishes">Seafood</button>
      <button class="dishes">Side</button>
      <button class="dishes">Starter</button>
      <button class="dishes">Vegan</button>
      <button class="dishes">Vegetarian</button>
    </ul>
  </div>
</section>
