<section>
  <div class="container filter-section">
    <div class="left-side">
    <div class="all-categories" id="all-categories">
      <button class="all-ctg-btn" id="all-ctg-btn">All categories</button>
      <ul class="all-categories-list scrollable-content" id="list"></ul>
    </div>
    <div class="div-population">
      <h2 class="title-population">Popular recipes</h2>

      <div class="render-population">
        <ul class="ul-population"></ul>
      </div>
      </div>
      </div>
    <div class="filter-div">
      <ul class="container-search-general">
        <li class="container-search">
          <p class="paragraph-search">Search</p>
          <input
            id="search-input"
            class="search-input"
            type="text"
            placeholder="Enter Text"
          />
          <svg class="svg-input" width="18" height="18">
            <use href="./favicon/favicon.svg#icon-search"></use>
          </svg>
        </li>

        <li class="container-time invisible">
          <p class="paragraph-time">Time</p>
          <select class="select-time" name="time" id="time"></select>
        </li>

        <li class="container-area invisible">
          <p class="paragraph-area">Area</p>
          <select class="select-area" name="area" id="area"></select>
        </li>

        <li class="container-ingredients invisible">
          <p class="paragraph-ingredients">Ingredients</p>
          <select
            class="select-ingredients"
            name="ingredients"
            id="ingredients"
          ></select>
        </li>
      </ul>
      <div class="recipes">
      <ul class="cards-list"></ul>
    </div>
  
   <div class="pagination">
    <div class="left-btns">
      <button
        type="button"
        class="big-left-skip pagination-btn side-btn"
        data-skip="big"
      >
        <<
      </button>
      <button
        type="button"
        class="lil-left-skip pagination-btn side-btn"
        data-skip="lil"
      >
        <
      </button>
    </div>
    <div class="mid-btns">
      <button type="button" class="current-page pagination-btn mid-btn">1</button>
      <button type="button" class="next-page pagination-btn mid-btn">2</button>
      <button type="button" class="last-option-page pagination-btn mid-btn">3</button>
      <button type="button" class="mid-skip pagination-btn mid-btn">...</button>
    </div>
    <div class="right-btns">
      <button
        type="button"
        class="lil-rigth-skip pagination-btn side-btn"
        data-skip="lil"
      >
        >
      </button>
      <button
        type="button"
        class="big-rigth-skip pagination-btn side-btn"
        data-skip="big"
      >
        >>
      </button>
    </div>
    </div>
   
  
    
    </div>
    
</section>
