<!-- mdoal recipe -->
<section>
  <div class="modal">
    <div class="media" id="media"></div>
    <h2 class="name-reciepe" id="name-reciepe"></h2>
    <div class="rating-time">
      <div id="rating"></div>
      <div id="time"></div>
    </div>
    <ul class="ingredients" id="ingredients"></ul>
    <ul class="tags" id="tags"></ul>
    <p class="instructions" id="instructions"></p>

    <div class="modal-btn">
      <button type="button" class="btn-favorite" id="add">
        Add to favorite
      </button>
      <button type="button" class="rating-btn" id="rate">Give a rating</button>
    </div>
  </div>
</section>
<!--  -->
<!-- <span class="svg-star">
                <svg class="icon-star" width="18" height="18">
                  <use href="/src/images/svg-sprite.svg#icon-star"></use>
                </svg>
                <svg class="icon-star" width="18" height="18">
                  <use href="/src/images/svg-sprite.svg#icon-star"></use>
                </svg>
                <svg class="icon-star" width="18" height="18">
                  <use href="/src/images/svg-sprite.svg#icon-star"></use>
                </svg>
                <svg class="icon-star" width="18" height="18">
                  <use href="/src/images/svg-sprite.svg#icon-star"></use>
                </svg>
                <svg class="icon-star" width="18" height="18">
                  <use href="/src/images/svg-sprite.svg#icon-star"></use>
                </svg></span> -->

<!-- <svg class="icon-star" width="18" height="18">
                  <use href="/src/images/svg-sprite.svg#icon-strip"></use>
                </svg> -->
