<section>
  <div class="container">
    <div class="recipes">
      <ul class="cards-list cards-list-favorit"></ul>
    </div>
    <div class="pagination pagination-fav">
      <div class="left-btns left-btns-fav">
        <button
          type="button"
          class="big-left-skip-fav pagination-btn side-btn"
          data-skip="big"
        >
          <<
        </button>
        <button
          type="button"
          class="lil-left-skip-fav pagination-btn side-btn"
          data-skip="lil"
        >
          <
        </button>
      </div>
      <div class="mid-btns mid-btns-fav">
        <button
          type="button"
          class="current-page current-page-fav pagination-btn mid-skip-btn"
        >
          1
        </button>
        <button type="button" class="next-page-fav pagination-btn mid-skip-btn">
          2
        </button>
        <button
          type="button"
          class="last-option-page last-option-page-fav pagination-btn mid-skip-btn"
        >
          3
        </button>
        <button type="button" class="mid-skip-fav pagination-btn mid-btn">
          ...
        </button>
      </div>
      <div class="right-btns right-btns-fav">
        <button
          type="button"
          class="lil-rigth-skip-fav pagination-btn side-btn"
          data-skip="lil"
        >
          >
        </button>
        <button
          type="button"
          class="big-rigth-skip-fav pagination-btn side-btn"
          data-skip="big"
        >
          >>
        </button>
      </div>
    </div>
  </div>
</section>
