<section class="pagination">
    <div class="left-btns">
        <button type="button" class="big-left-skip pagination-btn side-btn" data-skip="big"><<</button>
        <button type="button" class="lil-left-skip pagination-btn side-btn" data-skip="lil"><</button>
    </div>
    <div class="mid-btns">
        <button type="button" class="current-page pagination-btn">1</button>
        <button type="button" class="next-page pagination-btn">2</button>
        <button type="button" class="last-option-page pagination-btn">3</button>
        <button type="button" class="mid-skip pagination-btn">...</button>
    </div>
    <div class="right-btns">
        <button type="button" class="lil-rigth-skip pagination-btn side-btn">></button>
        <button type="button" class="big-rigth-skip pagination-btn side-btn">>></button>
    </div>
</section>